# Python artifacts
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Git repo files
.git
.gitignore

# Local data
data/

# IDE/editor settings
.vscode/
.idea/

# Logs
*.log
